body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Updated background color */
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center content horizontally */
    padding: 20px;
    text-align: center; /* Center text */
}

h1 {
    font-size: 36px;
    margin: 0;
}

.contact {
    text-align: center;
    color: #fff;
    margin-top: 10px; /* Add margin to separate from name */
}

.contact p {
    margin: 5px 0;
}

.contact a {
    color: #fff;
    text-decoration: underline;
}

.profile {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center content horizontally */
    margin-top: 10px; /* Add margin to separate from contact info */
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Make the image circular */
    object-fit: cover; /* Scale the image to cover the container */
    object-position: center top; /* Center the image horizontally and show the top part */
    margin-top: 10px; /* Add margin to separate from contact info */
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

section {
    margin-bottom: 20px;
    padding: 20px; /* Add padding to sections for separation */
    border: 1px solid #ddd; /* Add a border to sections */
    border-radius: 5px;
}

h2 {
    font-size: 24px;
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.skill h3 {
    margin: 0;
}

.skill p {
    margin: 0;
}

.skill p::before {
    content: "• ";
    color: #666;
}

/* Additional styling for tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Additional styling for leadership entries */
.leadership-entry {
    margin-top: 10px;
}

.project-entry a {
    text-decoration: underline;
}

/* Style for the skills section */
.skills {
    flex-wrap: wrap;
    gap: 10px; /* Add some space between skills */
}

/* Style for each skill block */
.skill {
    flex: 1; /* Allow skills to take equal width */
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}